extends layout

block content
  h1= title
  aside(id='mapBar')
    a(id='home',href='/') Home
    p
    a(id='home',href='/map') Map
  div(id="map")
    script( src='https://unpkg.com/leaflet@1.9.3/dist/leaflet.js'
        integrity='sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM='
        crossorigin='')

  script(src='/javascripts/mapdata.js')
  